// FONTS #########################################

$fontFamily: 'Roboto', sans-serif;

$headerFontFamily: 'Sansita Swashed', cursive;

// #########################################

// H1 --- H6 COLORS #####################

$colorH: #000000;
$mainInfoTextColor: #d3d3d3;

// #######################################