.bg {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

    .clock {
        position: absolute;
        top: 50%;
        right: 15%;
        transform: translate(-50%, -50%) scale(2) rotate(180deg);
    }

    .title{
        margin: 0 0 20px 0;
        font-size: 80px;
        text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
    }
    .weatherForm{
        padding: 0 0 10px 0;
        max-width: 500px;
        width: 100%;

        .city {
            padding: 10px 20px;
            width: 100%;
            display: block;
            text-align: center;
            font-weight: 500;
            outline: none;
            border-radius: 10px;
            border: none;
            font-size: 19px;
        }
    }

    .loader {
        display: none;
    }

    .apiData{
        .mainInfo{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.459);
            padding: 30px;
            color: $mainInfoTextColor;
            border-radius: 10px 10px 0 0;

            .degrees{
                display: flex;
                font-size: 40px;
                margin: 0 20px;

                span{
                    font-size: 14px;
                    margin: 0 0 0 10px;
                }
            }
            .info {
                p {
                    margin: 0 0 4px 0;

                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
        }
        .days {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.459);
            padding: 0 0 30px 0;
            color: $mainInfoTextColor;
            border-radius: 0 0 10px 10px;
            p {
                font-size: 24px;
                text-shadow: 0px 0px 30px rgba(255, 255, 40, 1);
            }
        }
        .error {
            background-color: #fff;
            color: red;
        }
    }
}